<style type="text/css">
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
</style>

<div class="g-body">
</div>
<button id="lazy-loading" class="btn btn-lg col-xs-12" style="display:none; margin-bottom: 80px">
  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</button>
<a id="nextUrl" class="hide" href="{{next_url}}"></a>
<script id="movies-template" type="text/x-handlebars-template">
\{{#each movies }}
  <div class="g-mdl">
    <div class="g-bd">
      <div class="g-bdc">
        <div class="g-bdcc">
          <div class="g-bdc">
            <a href="\{{#if bilibiliMovie.id}}/lofter/\{{bilibiliMovie.id}}\{{else}}/movie/\{{id}}\{{/if}}">
              <div class="g-bdcc">
                <div class="m-photo m-photo-full img-responsive">
                  <div class="photo">
                    <img src="\{{cover.large}}" onerror="this.src='http://www.lofter.com/mobile/src/images/defaultphoto.png';">
                  </div>
                </div>
                <div class="m-cnt">
                  <h2 class="title">\{{title}}</h2>
                  <div class="text">
                     <div class="ztag">
                        <blockquote>
                           <p>\{{ subSummary summary 100}}</p>
                        </blockquote>
                     </div>
                  </div>
                </div>
                <div class="m-oprt">
                  <div class="tags">
                    <span class="w-icn w-icn-bq">标签：</span>
                    \{{#each genres }}
                      <a href="#">{{name}}</a>
                    \{{/each}}
                  </div>
                  <div class="oprt">
                    <div class="oprta">
                      <em>
                        <a>热度(\{{ ratings_count }})</a>
                      </em>
                    </div>
                    <div class="oprtb">
                      <em>
                        <a class="w-icn w-icn-zz">转载</a>
                      </em>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
\{{/each}}
</script>

<script type="text/javascript">
function ajaxLoadData(url){
  $.ajax({
    url: url,
    dataType: 'JSON',
    method: "GET"
  }).done(function(data){
    $(".g-body").append(window.movies_template(data))
    $("#nextUrl").attr("href", data.next_url)
    $("#lazy-loading").hide()
    $(window).bind('scroll', bindScroll);
  }).fail(function(err){
    console.log(err)
    $("#lazy-loading").hide()
  })
}

function loadMore()
{
  if(!window.movies_template){
    var source = $("#movies-template").html()
    window.movies_template = Handlebars.compile(source);
  }
  console.log("More loaded");

  var url = $("#nextUrl").attr("href")
  if(url){
    $("#lazy-loading").show()
    ajaxLoadData(url)
  }
}

function bindScroll(){
  if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
    $(window).unbind('scroll');
    loadMore();
  }
}


$(function(){
  loadMore()
  $(window).scroll(bindScroll);
})

</script>