<div class="page cell">
    <div class="bd">
      <div class="weui_cells_title"></div>
      <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" placeholder="请输入手机号" id="mobile" maxlength="11">
            </div>
        </div>
      </div>
      <div class="weui_cells_title" id="phone-detail" style="color: green; display: none"></div>
      <hr>
      <div class="container">
        <div class="row" id="chooseMoney">
          <span data-id="balance" href="javascript:;" class="col-xs-6 weui_btn weui_btn_primary selected">微信支付</span>
          <span data-id="salary" href="javascript:;" data-less='{{customer.salary}}' class="col-xs-6 weui_btn weui_btn_default" style="margin-top: 0px;">分销奖励</span>
        </div>
      </div>
      <div id="salary" class="weui_cells_title tel-title" style="display: none">选择流量包（您当前可用<span style="color:orange;"> {{customer.salary}}  </span>元）</div>
       <div id="balance" class="weui_cells_title tel-title">选择流量包（<span style="color:orange;">微信安全支付</span>）</div>
      <hr>
      <div class="llb">
      </div>
      <div class="no_data" style="display: none"></div>
      <div class="ml">
        <div class="weui_cells_title"><strong>流量充值说明</strong></div>
        <div class="weui_cells_title">
          <p><span style="color:HotPink;">流量类型：</span>2/3/4G通用（不含港澳台）</p>
          <p><span style="color:HotPink;">充值限制：</span>充值次数不限</p>
          <p><span style="color:HotPink;">到账时间：</span>1-10分钟内到账，24小时可充值</p>
          <p><span style="color:HotPink;">使用方式：</span>查询到流量即可使用</p>
          <p><span style="color:HotPink;">有效期限：</span>广东移动省内流量，<span style="color:orange;">有效期为20天</span>，月结不影响；其余流量，当月有效，<span style="color:orange;">月底清零</span></p>
        </div>
    </div>
    </div>
  </div>

{{> alertmodal }}
{{> extractConfirm }}
{{> loading }}

<script id="trafficplans-template" type="text/x-handlebars-template">
\{{#each trafficgroups}}
  <div>
    <div class="weui_cells_title">\{{name}}</div>
    <div class="weui_cells">
      \{{#each trafficplans}}
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
              <a class="weui_btn weui_btn_plain_primary exchanger" data-name="\{{name}}" style="font-size: 16px;" data-value="\{{id}}" data-cost="\{{cost}}">
                \{{#if-lt cost withOutDiscount }}
                  \{{name}} <strike>\{{withOutDiscount}}元</strike> <font size="3" color="red"><b>\{{cost}}元</b></font>
                \{{else}}
                  \{{name}} <b>\{{cost}}元</b>
                \{{/if-lt}}
              </a>
          </div>
        </div>
      \{{/each}}
    </div>
  </div>
\{{/each}}
</script>

<script id="err-template" type="text/x-handlebars-template">
<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-body">
            <h5 class="no_data_found_h">
              \{{msg}}
            </h5>
        </div>
      </div>
    </div>
  </div>
</div>
</script>